.autorizationNavElemes {
  display: flex;
}
.headerUserNav {
  justify-content: end;
}

.field {
  margin: 5px;
}

.fieldsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.fieldsContex {
}
