.autorizationNavElemes {
  display: flex;
}
.headerUserNav {
  justify-content: end;
}

.field {
  margin: 5px;
}

.fieldsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid black;
  margin-top: 10px;
  /* border-bottom: 1px solid black; */
  margin-bottom: 10px;
}

.fieldsContex {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  /* margin-top: 10px; */
}
