/* body {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #edf2f7;
} */

.autorizationNavElemes {
  display: flex;
}
.headerUserNav {
  justify-content: end;
}

.field {
  margin: 5px;
}

.fieldsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid black;
  margin-top: 10px;
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
  margin-bottom: 10px;
}

.fieldsContex {
  display: flex;
  flex-wrap: wrap;

  /* margin-top: 10px; */
}
.fieldAnsw {
  display: block;
  width: 100%;
}

.addBtn {
  margin-top: 15px;
  display: block;
  width: 100%;
}
.checker {
  width: 100%;
  display: block;
  margin-top: 5px;
}

.bg {
  background-color: #edf2f7;
  height: 100%;
}
.buttons {
  display: flex;
}

.loader {
  position: absolute;
  left: 45%;
  top: 55%;
}
